#add {
    font-size: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
}


.signup {
    position: absolute;
    top: 10%;
    background-color: #e6f5ff;
    padding: 30px;
    border-radius: 10px;
    margin: 0 30%;
}

#login-form {
    display: none;
}